# Archivos y directorios creados por pub (Dart package manager)
.dart_tool/
.packages
.pub/
build/

# Archivos de la IDE (VS Code, Android Studio)
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos generados (build_runner)
*.g.dart
*.freezed.dart
*.gr.dart

# Logs y archivos de temporales
*.log
.DS_Store

# Documentación generada
doc/api/

# Configuración local de Flutter
.flutter-plugins
.flutter-plugins-dependencies

# Ignorar archivo de entorno si tienes claves privadas
.env

.lib/config/secret.dart
flu_avm/lib/config/secret.dart